src/main/app/mtisteoriap2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd">
    <http:listener-config name="HTTP_Listener_Configuration_Mule" host="0.0.0.0" port="9094" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration_Swagger" host="localhost" port="5000" basePath="/VHJ1_1/MTIS/1.0.0" doc:name="HTTP Request Configuration"/>
    <http:listener-config name="HTTP_Listener_Seguimiento" host="0.0.0.0" port="9095" doc:name="HTTP Listener Configuration"/>
    <http:listener-config name="HTTP_Listener_Almacen" host="localhost" port="9096" basePath="/Almacen" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Almacen" host="localhost" port="8091" basePath="/P1/services/Almacen" doc:name="HTTP Request Configuration"/>
    <ws:consumer-config name="WSDL_GestionAlmacen" wsdlLocation="http://localhost:8091/P1/services/GestorAlmacen?wsdl" service="GestorAlmacen" port="GestorAlmacenSOAP" serviceAddress="http://localhost:8091/P1/services/GestorAlmacen/" doc:name="Web Service Consumer"/>
    <ws:consumer-config name="WSDL_Almacen" wsdlLocation="http://localhost:8091/P1/services/Almacen?wsdl" service="Almacen" port="AlmacenSOAP" serviceAddress="http://localhost:8091/P1/services/Almacen/" doc:name="Web Service Consumer"/>
	<flow name="Registrar_Paquete">
		<http:listener config-ref="HTTP_Listener_Configuration_Mule" path="/registrarPaquete" doc:name="HTTP"/>
		<http:request config-ref="HTTP_Request_Configuration_Swagger" path="/" method="GET" doc:name="Calcular Precio"/>
		<dw:transform-message doc:name="Transform Message">
			<dw:set-payload>
				<![CDATA[%dw 1.0
%output application/java
---
{
}]]>
			</dw:set-payload>
		</dw:transform-message>
		<http:request config-ref="HTTP_Request_Configuration_Swagger" path="/" method="POST" doc:name="Crear Envio"/>
		<dw:transform-message doc:name="Transform Message">
			<dw:set-payload>
				<![CDATA[%dw 1.0
%output application/java
---
{
}]]>
			</dw:set-payload>
		</dw:transform-message>
		<flow-ref name="NuevoSeguimiento" doc:name="Crear Nuevo Seguimiento"/>
		<choice doc:name="Recogemos del domicilio?">
			<when expression="#[payload == 1]">
				<flow-ref name="Actualizar_Fecha_Seguimiento_Notificar" doc:name="Actualizar Fecha, Seguimiento y Notificar"/>
			</when>
			<otherwise>
				<set-payload value="El envio se registro correctamente" doc:name="Response"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="Confirmar_Recepcion_Paquete">
		<http:listener config-ref="HTTP_Listener_Configuration_Mule" path="/confirmarRecepcion" doc:name="HTTP"/>
		<http:request config-ref="HTTP_Request_Configuration_Swagger" path="/" method="PUT" doc:name="Confirmar la Recepcion del Paquete"/>
		<http:request config-ref="HTTP_Request_Configuration_Swagger" path="/" method="PUT" doc:name="Actualizamos el Estado del Seguimiento"/>
        <smtp:outbound-endpoint host="localhost" responseTimeout="10000" doc:name="Notificar por Correo"/>

	</flow>
	<flow name="Actualizar_Fecha_Recogida">
		<http:listener config-ref="HTTP_Listener_Configuration_Mule" path="/actualizarFecha" doc:name="HTTP"/>
		<flow-ref name="Actualizar_Fecha_Seguimiento_Notificar" doc:name="Actualizar Fecha, Seguimiento y Notificar"/>
	</flow>
	<sub-flow name="Actualizar_Fecha_Seguimiento_Notificar">
		<http:request config-ref="HTTP_Request_Configuration_Swagger" path="/" method="PUT" doc:name="Actualizar Fecha de Recogida"/>
		<http:request config-ref="HTTP_Request_Configuration_Swagger" path="/" method="POST" doc:name="Actualizamos el Estado del Seguimiento"/>
        <smtp:outbound-endpoint host="localhost" responseTimeout="10000" doc:name="Copy_of_Notificar por Correo"/>

	</sub-flow>
	<flow name="envioPaquete">
        <http:listener config-ref="HTTP_Listener_Configuration_Mule" path="/envio" doc:name="HTTP"/>
        <http:request config-ref="HTTP_Request_Configuration_Swagger" path="/Envio/Pendientes" method="GET" doc:name="HTTP"/>
        <set-payload value="#[payload]" doc:name="Set Payload"/>
    </flow>
    <flow name="mtisteoriap2Flow">
        <http:listener config-ref="HTTP_Listener_Seguimiento" path="/seguimiento" doc:name="HTTP"/>
        <set-variable variableName="Oper" value="#[message.inboundProperties['http.query.params'].oper]" doc:name="Variable Operacion"/>
        <choice doc:name="Copy_of_leer operacion">
            <when expression="#[flowVars['oper'] == 'nuevo']">
                <flow-ref name="NuevoSeguimiento" doc:name="Nuevo Seguimiento"/>
            </when>
            <when expression="#[flowVars['oper'] == 'get']">
                <flow-ref name="SelectSeguimiento" doc:name="Select Seguimiento"/>
            </when>
            <when expression="#[flowVars['oper'] == 'acceso']">
                <flow-ref name="AbrirAccesoSeguimiento" doc:name="Abrir Seguimiento"/>
            </when>
            <when expression="#[flowVars['oper'] == 'update']">
                <flow-ref name="UpdateSeguimiento" doc:name="Flow Reference"/>
            </when>
            <otherwise>
                <logger message="Se debe especificar una de las siguientes opciones como parametro: get/delete/update/post" level="INFO" doc:name="Copy_of_Logger"/>
            </otherwise>
        </choice>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
    <sub-flow name="UpdateSeguimiento">
        <set-variable variableName="codigo" value="#[message.inboundProperties['http.query.params'].codigo]" doc:name="Variable Codigo"/>
        <http:request config-ref="HTTP_Request_Configuration_Swagger" path="/idSeguimiento/validar/#[flowVars['codigo']]" method="GET" doc:name="HTTP"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <logger message="#[payload] Update" level="INFO" doc:name="Logger"/>
        <choice doc:name="Choice">
            <when expression="#[payload == true]">
                <logger message="Valido!" level="INFO" doc:name="Valido"/>
                <dw:transform-message doc:name="Transform Message" metadata:id="a5a20944-ac74-46c8-bbe3-9a2ae431c834">
                    <dw:input-payload mimeType="application/java"/>
                    <dw:input-variable mimeType="application/java" variableName="envioId"/>
                    <dw:set-payload><![CDATA[%dw 2.0
%output application/json
---
{
  "Estado": "pendiente1",
  "Acceso": 0
}]]></dw:set-payload>
                </dw:transform-message>
                <http:request config-ref="HTTP_Request_Configuration_Swagger" path="/Seguimiento/#[flowVars['codigo']]" method="PUT" doc:name="HTTP">
                    <http:request-builder>
                        <http:header headerName="Content-Type" value="application/json"/>
                    </http:request-builder>
                    <http:success-status-code-validator values="200,404"/>
                </http:request>
                <byte-array-to-string-transformer doc:name="Byte Array to String"/>
                <set-payload value="#[payload]" doc:name="Set Payload"/>
                <logger message="#[payload]" level="INFO" doc:name="Logger"/>
            </when>
            <otherwise>
                <logger message="El codigo #[flowVars['codigo']] no es valido. Debe ser 12 caracteres, letras mayusculas y numeros" level="INFO" doc:name="No valido"/>
                <set-payload value="El seguimiento con codigo #[flowVars['codigo']] no encontrado" doc:name="Set Payload"/>
            </otherwise>
        </choice>
    </sub-flow>
    <sub-flow name="AbrirAccesoSeguimiento">
        <set-variable variableName="codigo" value="#[message.inboundProperties['http.query.params'].codigo]" doc:name="Variable Codigo"/>
        <http:request config-ref="HTTP_Request_Configuration_Swagger" path="/idSeguimiento/validar/#[flowVars['codigo']]" method="GET" doc:name="Copy_of_HTTP"/>
        <byte-array-to-string-transformer doc:name="Copy_of_Byte Array to String"/>
        <logger message="#[payload]" level="INFO" doc:name="Copy_of_Logger"/>
        <choice doc:name="Copy_of_Choice">
            <when expression="#[payload == true]">
                <logger message="Valido!" level="INFO" doc:name="Copy_of_Valido"/>
                <http:request config-ref="HTTP_Request_Configuration_Swagger" path="/Seguimiento/#[flowVars['codigo']]" method="POST" doc:name="HTTP">
                    <http:request-builder>
                        <http:header headerName="Content-Length" value="0"/>
                    </http:request-builder>
                    <http:success-status-code-validator values="200,404"/>
                </http:request>
                <byte-array-to-string-transformer doc:name="Byte Array to String"/>
                <set-payload value="#[payload]" doc:name="Set Payload"/>
                <logger message="#[payload]" level="INFO" doc:name="Logger"/>
            </when>
            <otherwise>
                <logger message="El codigo #[flowVars['codigo']] no es valido. Debe ser 12 caracteres, letras mayusculas y numeros" level="INFO" doc:name="Copy_of_No valido"/>
                <set-payload value="El seguimiento con codigo #[flowVars['codigo']] no encontrado" doc:name="Copy_of_Set Payload"/>
            </otherwise>
        </choice>
    </sub-flow>
    <sub-flow name="SelectSeguimiento">
        <set-variable variableName="codigo" value="#[message.inboundProperties['http.query.params'].codigo]" doc:name="Variable Codigo"/>
        <http:request config-ref="HTTP_Request_Configuration_Swagger" path="/idSeguimiento/validar/#[flowVars['codigo']]" method="GET" doc:name="HTTP"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <choice doc:name="Choice">
            <when expression="#[payload == true]">
                <logger message="Valido!" level="INFO" doc:name="Valido"/>
                <http:request config-ref="HTTP_Request_Configuration_Swagger" path="/Seguimiento/#[flowVars['codigo']]" method="GET" doc:name="HTTP"/>
            </when>
            <otherwise>
                <logger message="El codigo #[flowVars['codigo']] no es valido. Debe ser 12 caracteres, letras mayusculas y numeros" level="INFO" doc:name="No valido"/>
                <set-payload value="El seguimiento con codigo #[flowVars['codigo']] no encontrado" doc:name="Set Payload"/>
            </otherwise>
        </choice>
    </sub-flow>
    <sub-flow name="NuevoSeguimiento">
        <set-variable variableName="envioId" value="1" doc:name="Variable"/>
        <http:request config-ref="HTTP_Request_Configuration_Swagger" path="/idSeguimiento" method="GET" doc:name="Generar Codigo Seguimiento">
            <http:request-builder>
                <http:header headerName="Content-Length" value="0"/>
            </http:request-builder>
        </http:request>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="a5a20944-ac74-46c8-bbe3-9a2ae431c834">
            <dw:input-payload mimeType="application/java"/>
            <dw:input-variable mimeType="application/java" variableName="envioId"/>
            <dw:set-payload><![CDATA[%dw 2.0
%output application/json

%var identificador = payload

---
{
  "identificador": identificador,
  "Estado": "pendiente",
  "Acceso": 0,
  "envioId": 1
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" doc:name="Copy_of_Logger"/>
        <http:request config-ref="HTTP_Request_Configuration_Swagger" path="/Seguimiento" method="POST" doc:name="HTTP">
            <http:request-builder>
                <http:header headerName="Content-Type" value="application/json;"/>
            </http:request-builder>
        </http:request>
    </sub-flow>
    <flow name="AlmacenRecibePaquete">
        <http:listener config-ref="HTTP_Listener_Almacen" path="/" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 2.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <set-variable variableName="idPaquete" value="#[payload.root.paquete.id]" doc:name="idPaquete"/>
        <set-variable variableName="idAlmacen" value="#[payload.root.idAlmacen]" doc:name="idAlmacen"/>
        <set-variable variableName="longitud" value="#[payload.root.paquete.longitud]" doc:name="Longitud"/>
        <set-variable variableName="anchura" value="#[payload.root.paquete.anchura]" doc:name="Anchura"/>
        <set-variable variableName="altura" value="#[payload.root.paquete.altura]" doc:name="Altura"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="3e6eeb97-483c-4cf4-aa6b-773ef1b91d27">
            <dw:input-variable mimeType="application/java" variableName="idAlmacen"/>
            <dw:input-variable mimeType="application/java" variableName="idPaquete"/>
            <dw:input-variable mimeType="application/java" variableName="altura"/>
            <dw:input-variable mimeType="application/java" variableName="anchura"/>
            <dw:input-variable mimeType="application/java" variableName="longitud"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://www.mtis.org/Almacen/
---
{
	ns0#ComprobarDisponibilidad: {
		idAlmacen: flowVars.idAlmacen,
		longitud: flowVars.longitud,
		altura: flowVars.altura,
		anchura: flowVars.anchura
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="id paquete: #[flowVars.idPaquete], id almacen: #[flowVars.idAlmacen]" level="INFO" doc:name="Logger"/>
        <ws:consumer config-ref="WSDL_Almacen" operation="ComprobarDisponibilidad" doc:name="ComprobarDisponibilidad"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <set-variable variableName="response" value="#[payload]" doc:name="ResponseDisponibilidad"/>
        <logger message="#[flowVars.response]" level="INFO" doc:name="Logger"/>
        <set-variable variableName="disponible" value="#[payload.ComprobarDisponibilidadResponse.result]" doc:name="Disponible?"/>
        <logger message="#[flowVars.disponible]" level="INFO" doc:name="Logger"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.disponible]">
                <dw:transform-message doc:name="Transform Message">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://www.mtis.org/Almacen/
---
{
	ns0#ActualizarDisponibilidad: {
		idAlmacen: flowVars.idAlmacen,
		idEspacio: payload.ns0#ComprobarDisponibilidadResponse.idEspacio,
		estado: false,
		paquete: flowVars.idPaquete as :number
	}
}]]></dw:set-payload>
                </dw:transform-message>
                <logger message="pequete: #[flowVars.idPaquete]" level="INFO" doc:name="Logger"/>
                <ws:consumer config-ref="WSDL_Almacen" operation="ActualizarDisponibilidad" doc:name="ActualizarDisponibilidad"/>
            </when>
            <otherwise>
                <logger message="No hay espacio" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
---
flowVars.response]]></dw:set-payload>
        </dw:transform-message>
    </flow>

</mule>